.home {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.home-content {
  padding-right: 30px;
}
@media only screen and (max-width: 1011px) {
  .home-content {
    padding-right: 30px;
    text-align: center;
  }
}
@media only screen and (max-width: 768px) {
  .home h1 {
    font-size: 40px;
  }

  .home-image img {
    max-width: 200px;
  }
}

.home-image {
  position: relative;
  transition: transform 0.3s ease-in-out;
  margin: 30px;
}

.home-image::before {
  content: "";
  position: absolute;
  width: 280px;
  height: 280px;
  background: var(--primary-accent-color);
  z-index: -1;
  left: -30px;
  bottom: -30px;
  box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.home-image img {
  max-width: 300px;
  height: auto;
  object-fit: cover;
  border: 2px solid var(--primary-accent-color);
  position: relative;
  z-index: 1;
  transition: transform 0.3s ease-in-out;
}

.home h1 {
  font-size: 70px;
  color: var(--heading-text-color);
}

.home h1 span {
  color: var(--primary-accent-color);
}

.home p {
  color: var(--paragraph-text-color);
  line-height: 22px;
}

.home a {
  background-color: var(--primary-accent-color);
  padding: 10px 18px;
  text-decoration: none;
  color: var(--secondary-color);
  display: inline-block;
  margin: 30px 0;
  box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.1);
}
